body{
    font-family: Roboto;
    margin: 0px;
}

header{
    background-color: #0b1d33;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
    padding: 0px 20px;
    
}

main article {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
}
main article {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
}
main article :not(div){
    padding: 0px 10px;
}

main img{
    max-width: 400px;
}

main article h2{
    background-color: #3a4759;
    color: white;
    width: 100%;
    margin-top: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
}

footer{
    background-color:#3a4759;
    color: whitesmoke;
    padding: 20px;
}

