body{
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: #1f4774;
    color: white;
    padding: 10px;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 20px;
    align-items: center;
    padding: 20px 0px;
}
nav.close{
    display: none;
}
nav a{
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    gap: 40px;
}
header img{
    width: 100px;
}

#menu{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 32px;
    padding: 0px 0.5rem;
}

#menu::before{
    content: "≡";

}

#menu.close::before{
    content: "X";

}


main{
    display: flex;
    flex-direction: column;
}



main ul li{
    list-style-type: none;   
}

h2 {
    text-align: center;
    border-bottom: 2px solid gray;
}

main section.card {
    border: 1px solid gray;
   
}
main section.card h3 {
    background-color: #1f4774;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
 }
 div.map-container{
    padding: 20px;
 }

 .map-container iframe {
    width: 100%;
    border: 0;
}

footer{
    background-color: #1f4774;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer #lastModified{
    color: yellow;
}
